---
import DashboardLayout from "../layouts/DashboardLayout.astro";
import AuthGuard from "../components/atoms/auth-guard.vue";
import BackOfficeMovementsContainer from "../components/organisms/back-office-movements-container.vue";

const lang = "es";
const title = "HUB - Movimientos Back Office";
---
<DashboardLayout title={title} lang={lang} pageTitle="">
  <AuthGuard client:load>
    <div class="p-8">
      <BackOfficeMovementsContainer lang={lang} client:load />
    </div>
  </AuthGuard>
</DashboardLayout>

