---
import "../styles/global.css";

interface Props {
  title: string;
  lang: string;
  securityLevel: string;
  transparentNavbar: boolean;
}

const { title, lang } = Astro.props as Props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/assets/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-screen bg-[#FAFCFD]">
    <main class="h-full">
      <div class="grid grid-cols-1 mb-3 sm:grid-cols-[1fr_minmax(462px,auto)_1fr] sm:grid-rows-[minmax(55px,1fr)_auto_minmax(55px,1fr)] h-full p-4 sm:p-0 relative">
        <div class="hidden sm:block" />
        <div class="hidden sm:block border-l border-r border-neutral-20" />
        <div class="hidden sm:block" />
        <div class="hidden sm:block border-t border-b border-neutral-20" />
        <slot />
        <div class="hidden sm:block border-t border-b border-neutral-20" />
        <div class="hidden sm:block" />
        <div class="hidden sm:block border-l border-r border-neutral-20" />
        <div class="hidden sm:block" />
      </div>
    </main>
  </body>
</html>


